<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Uses Non-Exempt Encryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(CFBundleDisplayName)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>1310039257567144</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KeychainSharing</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>facebook-stories</string>
		<string>facebook</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>tg</string>
		<string>xhs</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Vita AI uses your camera to capture and analyze food images in order to estimate calories and provide personalized nutrition feedback.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Vita AI needs access to your health data, such as weight and activity, to analyze your diet and generate more accurate nutrition insights.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Vita AI writes your nutrition and calorie data to HealthKit to help you track progress toward your diet and fitness goals.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Vita AI needs permission to save your nutrition analysis results and progress charts to your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vita AI uses your photo library to let you upload food photos for calorie and nutrition analysis.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Vita AI needs access to your local network to check connectivity status and enable debugging features.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
